.about
	display block

.about__textarea
	padding 0 19px
	width 100%
	font-family 'Courier New'
	font-size 30px
	line-height 55px
	background url('../../images/textarea-line.png') repeat-y
	background-color transparent
	background-size 100% auto
	border none