.header
	margin-bottom 10px
	display block
	height 165px

.header__container
	position relative
	display flex
	flex-direction row
	justify-content space-between
	align-items center
	height 100%

.header__pic-wrap
	position absolute
	top 48px
	right -63px