mixin header()
	+b('header').header&attributes(attributes)
		.container.header__container
			.header__logo
				img.header__logo-img(src="./images/logo.png")
			.header__pic-wrap
				img.header__img(src="./images/Classified.png")
