.textarea
	padding 0 19px
	width 100%
	min-height 165px
	font-family 'Courier New'
	font-size 30px
	line-height 1.833333333
	resize none
	background url('../../images/textarea-line.png') repeat-y
	background-color transparent
	background-size 100% auto
	border none