mixin slider()
	+b.slider&attributes(attributes)
		ul.slider__list
			li.slider__item Не владею
			li.slider__item Использую готовые решения
			li.slider__item Использую готовые решения и умею их переделывать
			li.slider__item Пишу сложный JS с нуля
		.slider__pointer
