mixin skill(skill)
	+b.skill&attributes(attributes)
		label.skill__label
			if (skill.know)
				input.skill__input(type="checkbox" checked)
			else
				input.skill__input(type="checkbox")
			.skill__custom-check
			if (skill.name === 'Читаю blog.csssr.ru')
				span.skill__text Читаю
					a.skill__link(href="//blog.csssr.ru" target="_blank") blog.csssr.ru
			else
				span.skill__text= skill.name
